@font-face {
  font-family: 'Grotesque';
  src: 
  url('../fonts/grotesque-no-9.woff2') format('woff2'), 
  url('../fonts/grotesque-no-9.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

@font-face {
  font-family: 'Born';
  src: 
  url('../fonts/born.woff2') format('woff2'), 
  url('../fonts/born.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}